.mask{
    overflow: hidden;
    .ani1{
        font-size: 4vh;
        margin: 0;
        transform: translateY(-100%);
        animation: slideDown 1.7s cubic-bezier(0.175, 0.84, 0.44, 1) forwards;
    }
    
    .ani2{
        margin: 0;
        transform: translateY(-100%);
        
    }

    .text2{
        animation-delay: .4s;
    }
}

@keyframes slideDown{
    to{
        transform: rotateY(0);
    }
}

.text{
    
    transform: translateY(-100%);
    
}

.box1{
    background-color:#28a92b ;
}